*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-container{
  width: 100vw;
  height: 10vh;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.app-select{
  margin: 3vh;
  float: left;
  width: 200px;
  height: 30px;
}

.time-select{
  margin: 3vh 5vh;
  height: 30px;
  width: 100px;
  float: right;
}