*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-container{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.top-container .app-select{
  margin: 0px 10px;
  flex: 5;
}

.top-container .time-select{
  margin: 0px 10px;
  flex: 1;
}