*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.top-container{
  width: 100vw;
  height: 10vh;
  align-items: center;
  background: #ffffff;
  z-index: 1000;
  border-bottom: 1px solid #000000;
  position: sticky;
  top: 0;
}

.app-select{
  margin: 3vh;
  float: left;
  width: 200px;
  height: 30px;
  border-radius: 2px;
}

.time-select{
  margin: 3vh 5vh;
  height: 30px;
  width: 100px;
  float: right;
  border-radius: 2px;
}

.output-container{
  display: flex;
}

.left-container{
  width: 20vw;
  height: 100%;
}

.right-container{
  border-left: 1px solid #000000;
  width: 80vw;
  padding: 20px 30px;
}
.scrollbar
{
	margin-left: 2px;
	float: left;
	height: 750px;
  width: 100%;
	background: #ffffff;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.selectdiv {
  position: relative;
}
.selectdiv2 {
  position: relative;
}


select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 280px;
  top: 15px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv2:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 20px;
  top: 15px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}


.selectdiv .app-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 40px;
  margin: 8px 5px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.selectdiv2 .time-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 120px;
  height: 40px;
  margin: 8px 10px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.result{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.res-container{
  padding: 10px;
  width: 80%;
  margin: auto;
  display: flex;
}